body{
    background-color: #fff;
    font-family: 'Roboto Mono', sans-serif;
}

.container{
    padding: 40px 100px 0 100px;
}

.header{
     margin-top: 60px;
}

.header-box{
    display: flex;
}

h1{
    font-size: 50px;
    font-weight: 900;
}

.half-width{
    flex-grow: 1;
    flex-basis: 50%;
}

.box{
    padding-left: 20px;
    border-left: 4px solid royalblue;
}

.header-image{
    width: 450px;
    height: 350px;
    border: 30px solid gainsboro;
    border-radius: 20px;
    float: right;
    margin-top: -10px;
}

button{
    background-color: black;
    border: 2px solid rgb(65, 116, 99);
    border-radius: 10px;
    height: 50px;
}

button a {
    text-decoration: none;
    padding: 20px;
    color : white;
    font-size: 16px;
}

.mission{
    height: 500px;
}

.mision-header{
    color : #13103a;
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}

.mission-box{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.box-item{
    height: 320px;
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

#box-1 {
    background-color: #fff4d6;
}
#box-2{
    background-color: thistle;
}
#box-3 {
    background-color: silver;
}

.box-item img {
    height: 120px;
    width: 140px;
}

.office{
    height: 400px;
    margin-top: 50px;
}

.office-setup{
display: flex;
flex-grow: 1;
justify-content: space-around;
}

.office-item{
width: 50%;
}

.office-image img{
    height: 300px;
    width: 450px;
    border: 1px solid white;
    border-radius: 20px;
}

.team-image{
    float: right;
    margin-left: 48px;
    margin-top: -10px;
}

.contact{
    height: 350px;
    display: flex;
    margin-top: 60px;
}

.contact-area{
    width: 50%;
}

.form{
    width: 500px;
    height: 260px;
    background-color: rgb(223, 230, 236);
    border-radius: 1px solid white;
    border-radius: 10px;
    padding: 30px 50px;
    box-shadow: 10px 10px 5px rgb(214, 214, 236);
}

.item {
    width: 400px;
    border: none;
    border-bottom: 2px solid rgb(111, 144, 236);
    background-color: rgb(223, 230, 236);
    margin-bottom: 13px;
}
footer {
    height: 120px;
    background-color: #0b0d17;
    margin: 0;
}

.footer-mission{
    color: white;
    text-align: center;
    font-size: 30px; 
    padding-top: 15px;  
}
h6{
    color: white;
    text-align: center;
    font-size: 14px;
}

span{
    color: #FF4500;
}